{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_static admin_modify %}


{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{% trans opts.verbose_name_plural|capfirst %}</a>{% else %}{% trans opts.verbose_name_plural|capfirst %}{% endif %}
    &rsaquo; {% if add %}{% trans 'Add' %} {% trans opts.verbose_name %}{% else %}{{ original|truncatewords:"18" }}{% endif %}
    </div>
{% endblock %}

{% block usertools %}
    {% if has_permission %}
        <div id="user-tools">
            {% block welcome-msg %}
                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
            {% endblock %}
            {% block userlinks %}
                {% if user.is_active and user.is_staff %}
                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                        <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                    {% endif %}
                {% endif %}
                {% if user.has_usable_password %}
                    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                {% endif %}
                <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}