include LICENSE
include README.rst
recursive-include applogs/templates *
recursive-include applogs/static *
recursive-include xlsexport/templates *
recursive-include wfm_admin/templates *
recursive-include saml/templates *
recursive-include wfm_admin/static *
